/* Application Stylesheet */

/* html elements
------------------------------------------- */
html {
  font-size: 100%;
}
body {
  background: #fff;
  color: #1a1a1a;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 100%;
  line-height: 19px;
  margin: 0 auto;
  text-align: left;
}
p {
  line-height: 18px;
  margin-bottom: 16px;
}

/* content */
#content {
	background: #fff;
	padding: 20px;
	padding-bottom:80px;
}

/* header */
header {
	background: #000;
	color: #fffbde;
	display: block;
	padding: 20px;
}


/* footer */
footer {
	background: #000;
	bottom: 0px;
	color: #fffbde;
	display: block;
	font-size: 12px;
	position: fixed;
	text-align: right;
	width: 100%;
}
footer a {
	color: inherit;
	text-decoration: none;
}
footer a:hover {
	color: #ff0000;
}
footer p {
	padding: 20px 20px 0px 20px;
}
footer .app_name {
	font-size: 16px;
	font-weight: bold;
}

#taskStoreView li {
  color:#ffffff;
  list-style: none;
  font-size:18px;
  padding:5px;
  margin-bottom:1px;
}

#taskStoreView li.completed {
  opacity: 0.15;
}

.day1 {
  background-color:#ff0000;
}

.day2 {
  background-color:#00ff00;
}

.day3 {
  background-color:#0000ff;
}

.loading {
  padding-top:1px;
  padding-bottom:1px;
  padding-right:5px;
}

#taskStoreView li.message {
  color:#000000;
}

.clearing .started {
  display:none;
}

.clearingMessage {
  display:none;
}

.clearing .clearingMessage {
  display:block;
}

.cleared {
  display:none;
}