/* Application Stylesheet */

/* html elements
------------------------------------------- */
html {
  font-size: 100%;
}
body {
  background: #fff;
  color: #1a1a1a;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  line-height: 19px;
  margin: 0 auto;
  text-align: left;
}
p {
  line-height: 18px;
  margin-bottom: 16px;
}

/* content */
#mainView {
  background: #fff;
  padding-top:40px;
  padding-bottom:75px;
}

  #mainView p {
    font-size:18px;
    padding:10px;
    margin-bottom:1px;
  }

/* header */
header {
  background: #000;
	color: #ffffff;
	display: block;
	padding: 5px;
	position:fixed;
  width:100%;
/*  min-width:320px;  */
	font-size: 14px;
	height:30px;
}

header a:link, header a:visited {
  color:#ffffff;
}

  header ul {
    list-style-type:none;
  }
  
  header ul li {
    display:block;
    line-height:40px;
  }
  
  header ul:after {
    content:".";
    clear:both;
    display:block;
    height:0;
    visibility:hidden;
  }


/* footer */
footer {
	background: #000;
	bottom: 0px;
	color: #ffffff;
	display: block;
	font-size: 12px;
	position: fixed;
	text-align: right;
	width: 100%;
}
footer a {
	color: inherit;
	text-decoration: none;
}
footer a:hover {
	color: #d23a10;
}
footer p {
	padding: 10px 10px 0px 0px;
}
footer .app_name {
	font-size: 16px;
	font-weight: bold;
}

#taskStoreView li {
  list-style: none;
  font-size:18px;
  padding:10px;
  margin-bottom:1px;
  border-bottom:solid 1px #efefef;
}

#taskStoreView li:hover {
  background-color:#fffbde;
}

.addTask {
  position:absolute;
  left:5px;
  right:110px;
  z-index:1;
  top:1px;
  bottom:0;
}

.addTask input {
  font-size:18px;
  width:100%;
}

.addTask label {
  position:absolute;
  color:#cccccc;
  font-size:18px;
  top:0px;
  left:5px;
  z-index:2;
}

.rightToolbarButton {
  position:absolute;
  right:10px;
  top:0;
  z-index:3;
  width:87px;
  background-color:#000000;
}

.rightToolbarButton a {
  display:block;
  padding-left:10px;  
}

.rightToolbarButton a:link, .rightToolbarButton a:visited {
  text-decoration:none;
  background-color:#000000;
}

.rightToolbarButton a:hover {
  text-decoration:underline;
}


.rightToolbarButton a.clearCompleted {
  background-color:#ff0000;
}

#taskStoreView li.completed {
/*  opacity: 0.15;*/
  text-decoration:line-through;
}

.day1 {
  color:#ff0000;
}

.day1.completed {
  color:#f79879;  
}

.day2 {
  color:#0fc900;
}
  .day2.completed {
    color:#a7d59b;
  }

.day3 {
  color:#2586c8;
}
  .day3.completed {
    color:#97b7e0;
  }

.loading {
  padding-top:1px;
  padding-bottom:1px;
  padding-right:5px;
}

#taskStoreView li.message {
  color:#000000;
}

#taskStoreView li {
  -webkit-transition-property: min-height, opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;

  -moz-transition-property: min-height, opacity;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;

  -o-transition-property: min-height, opacity;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease;

  min-height:20px;
}

.clearing #taskStoreView .started {
  height:0;
  opacity:0;
  padding-top:0;
  padding-bottom:0;
  border:none;
  margin:0;
  min-height:0;
}

#mainView p.clearingMessage {
/*  display:none;*/

  height:0;
  padding-top:0;
  padding-bottom:0;
  margin:0;
  opacity:0;
  border-bottom:solid 1px #ffffff;
  background-color:#000000;

  -webkit-transition-property: height, opacity, padding, background-color, color;
  -webkit-transition-duration: 0.15s, 0.15s, 0.15s, 0.25s, 0.25s;
  -webkit-transition-timing-function: linear;
  
  -moz-transition-property: height, opacity, padding, background-color, color;
  -moz-transition-duration: 0.15s, 0.15s, 0.15s, 0.25s, 0.25s;
  -moz-transition-timing-function: linear;

  -o-transition-property: height, opacity, padding, background-color, color;
  -o-transition-duration: 0.15s, 0.15s, 0.15s, 0.25s, 0.25s;
  -o-transition-timing-function: linear;  
}

.clearing #mainView p.clearingMessage {
/*  display:block;*/

  border-bottom:solid 1px #efefef;  
  visibility:visible;
  height:20px;
  opacity:1;
  padding:10px;
  margin-bottom:1px;
  background-color:#ff0000;
  color:#fff;
  
}

.cleared {
  display:none;
}

.no-board {
  padding:20px;
}

.no-board p {
  font-size:18px;  
}

.no-board input[type=text] {
  width:200px;
}

.no-board input {
  font-size:18px;
}

.no-board input[type=submit] {
  position:relative;
  bottom:2px;
  left:5px;
}

.clearing #tasksRemaining {
  display:none;
}

#tasksRemaining {
  font-size:14px;
  text-align:center;
  color:#cccccc;
}

