<p>Big Board requires a modern browser. Some of the required features might be missing from your browser:</p>

<ul id="required-features">
	<li id="sockets-feature">Web Sockets</li>
</ul>

<p>We recommend using <a href="google.com/chrome">chrome</a> or <a href="http://www.apple.com/safari/">safari</a> as your default browser or connecting with a device which supports Web Sockets</p>