<p>You haven't selected a board yet!</p>

<form method="get" accept-charset="utf-8" onsubmit="return false">
	<p>Enter Board Name: <input type="text" /><input type="submit" value="Submit" /></p>
</form>
