<p>Hello <%= boardName %>!</p>

<p><input type="text" /></p>

<div id="taskStoreView"></div>

<ul>
	<li><a class="logout" href="Javascript:void(0)">Logout</a></li>
	<li><a class="confirmButton clearCompleted" href="Javascript:void(0)">Clear Completed Tasks</a></li>
</ul>
