<header>
	<ul class="left-toolbar">
		<li class="addTask"><input type="text" placeholder="Add Task:" /></li>
		<li class="rightToolbarButton"><a class="confirmButton clearCompleted" href="Javascript:void(0)">Clear</a></li>
	</ul>
</header>

<div id="mainView">
  <p><a href="Javascript:void(0)">EDIT</a></p>
  
	<p class="clearingMessage">Clear Tasks?</p>
	

	<div id="taskStoreView"></div>
	
	<!-- <p id="tasksRemaining"><span class="num-tasks">3</span> Tasks Remaining</p> -->
</div>
