<!DOCTYPE html>
<html>
<head>
  <title>Big Board</title>
  <meta name="description" content="Big Board is a daily planner for small teams" />
  <meta name="author" content="Big Bang Technology Inc." />
  <meta name="copyright" content="Big Bang Technology Inc." />

  <%= include_javascripts :core %>

	<script>
		var COUCH_DB_URL = "<%= couchdb_url %>"
	</script>
</head>
<body>

<%= yield %>

</body>
</html>
