<!DOCTYPE html>
<html>
<head>
  <title>Big Board</title>
  <meta name="description" content="Big Board is a daily planner for small teams" />
  <meta name="author" content="Big Bang Technology Inc." />
  <meta name="copyright" content="Big Bang Technology Inc." />

  <%= include_javascripts :core %>
  <%= stylesheet_link_tag "reset", "application", :cache => "production.css" %>
</head>
<body>

  <header>
    
  </header>

  <div id="content">
    <%= yield %>
  </div>

  <footer>
    <p class="wordmark"><span class="app_name">BigBoard</span> by <%= link_to "Big Bang Technology", "http://bigbangtechnology.com" %></p>
  </footer>
  
</body>
</html>
